[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "components/tmc2209"]
	path = components/tmc2209
	url = https://github.com/Moarbue/tmc2209
