[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "components/TMCStepper"]
	path = components/TMCStepper
	url = https://github.com/teemuatlut/TMCStepper.git
	ignore = untracked
